/* ================ CLIENTS ================= */

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  margin-left: -30px;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  flex-basis: calc((100% - 30px * 6) / 6);
}

.clients-img {
  display: block;
}

.clients-logo {
  fill: #afb1b8;
}

.clients-link {
  display: flex;
  width: 100%;
  height: 90px;
  fill: var(--text-accent);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms var(--cubic);
}

.clients-link:hover,
.clients-link:focus {
  border-radius: 4px;
  border: 1px solid var(--text-accent);
}

.clients-link:hover .clients-logo,
.clients-link:focus .clients-logo {
  fill: var(--text-accent);
}

/* ============== END CLIENTS =================== */
