/* =================Header================= */

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ececec;

  background-color: var(--text-wite-color);
}

/* ===================logo================ */

.logo {
  color: var(--text-accent);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-color {
  color: var(--text-black-color);
}

/* ===================END logo================ */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =====================NAVIGATION=============== */

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
}

.site-nav {
  display: flex;
  margin-left: 90px;
}

.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--text-accent);
}

.site-nav .nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding: 32px 0;

  color: var(--text-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.site-nav .link.current {
  color: var(--text-accent);
  display: block;
  position: relative;
}

.site-nav .link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--text-accent);
  border-radius: 2px;
}

/* =====================END NAVIGATION=============== */

/* =====================Second NAVIGATION=============== */

.second-nav {
  display: flex;
}

.second-nav .nav-item:not(:last-child) {
  margin-right: 50px;
}

.second-nav .link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.second-nav .second-nav-mail {
  width: 16px;
  height: 12px;
  fill: var(--text-color);
  margin-right: 10px;
}

.second-nav .second-nav-smartphone {
  width: 10px;
  height: 16px;
  fill: var(--text-color);
  margin-right: 10px;
}

.second-nav .link:focus,
.second-nav .link:hover {
  color: var(--text-accent);
}

.link:focus .second-nav-mail,
.link:hover .second-nav-mail {
  fill: var(--text-accent);
}

.link:focus .second-nav-smartphone,
.link:hover .second-nav-smartphone {
  fill: var(--text-accent);
}

.nav-item .link {
  display: flex;
  align-items: center;
}
/* =====================END Second NAVIGATION=============== */

/* =================END Header================= */
