.footer-address-container {
  width: 270px;
  padding: 60px 0;
  align-items: flex-start;
}

.soshial-link-container {
  width: 270px;
  padding: 60px 0;
  align-items: flex-start;
  margin-left: 70px;
}

.footer-page {
  background-color: var(--footer-bg-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  & .link.rgba {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
}

.logo-color.footer {
  color: var(--text-wite-color);
}

.link-map {
  color: var(--text-wite-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--text-accent);
  }
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .footer-page &:focus,
  .footer-page &:hover {
    color: var(--text-accent);
  }
}

.footer-content {
  margin-top: 20px;

  font-style: normal;
}

.footer-list-item {
  margin-top: 8px;
}

.soshial-link-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-wite-color);
}

.soshial-link-list {
  display: flex;
}

.soshial-link-item {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.soshial-link {
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: #2196f3;
    border-radius: 50%;
  }
}

.soshial-link .icon {
  width: 22px;
  height: 22px;
  fill: var(--text-wite-color);
}

.subscription-container {
  width: 570px;
  padding: 60px 0;
}

.subscription-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription-input {
  flex-grow: 1;
  height: 50px;
  margin-top: 20px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--footer-bg-color);

  transition: border 250ms var(--cubic);

  &:focus {
    outline: none;
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
}

.footer-btn {
  margin-left: 12px;
  margin-top: 20px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-send {
  margin-left: 10px;
  fill: var(--text-wite-color);
}

/* =================== END FOOTER ===================== */
